<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011943967139-r6iss60bdmnspjkaqb9vekqabf9dqt49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011943967139-r6iss60bdmnspjkaqb9vekqabf9dqt49</string>
	<key>API_KEY</key>
	<string>AIzaSyB0_yLmiWBr9zfgZ3Rwk29RoR82JydsuUo</string>
	<key>GCM_SENDER_ID</key>
	<string>1011943967139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xfeed</string>
	<key>PROJECT_ID</key>
	<string>xfeed-497fe</string>
	<key>STORAGE_BUCKET</key>
	<string>xfeed-497fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011943967139:ios:d6bc07449f58a361a43216</string>
	<key>DATABASE_URL</key>
	<string>https://xfeed-497fe.firebaseio.com</string>
</dict>
</plist>